body {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Chiron GoRound TC', sans-serif;
  color: var(--color-gray-alt);
  background-color: var(--color-light);
}

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-dark);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: var(--color-blue);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-weight: 400;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
}