:root {
  --color-light: #fcfcfc;
  --color-dark: #121212;
  --color-gray: #bbb;
  --color-gray-alt: #666;
  --color-blue: #306ed9;

  --border-radius: 14px;
  --border: 1px solid var(--color-gray);

  --container-width: 1200px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}