:root {
  --color-light: #fcfcfc;
  --color-dark: #121212;
  --color-gray: #bbb;
  --color-gray-alt: #666;
  --color-gray-alt-2: #efefef;
  --color-blue: #306ed9;

  --border-radius: 16px;
  --border: 1px solid var(--color-gray);

  --container-width: 1200px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #121212;
    --color-dark: #fcfcfc;
    --color-gray: #666;
    --color-gray-alt: #bbb;
    --color-gray-alt-2: #222;
  }
}