.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item:not(:last-child)::after {
  content: '/';
  margin-inline: 12px;
}