.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: var(--border);
  border-radius: var(--border-radius);
}

.info__item:not(:last-child) {
  border-right: var(--border);
}

@media (max-width: 1024px) {
  .info {
    display: flex;
    flex-direction: column;
  }

  .info__item:not(:last-child) {
    border: none;
  }
}