.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.projects__title {
  padding-inline: 20px;
  padding-top: 20px;
}

.projects__item {
  padding: 10px 20px;
}

.projects__item:not(:last-child) {
  border-bottom: var(--border);
}